<div class="flex justify-between gap-4 mb-8">
  <h1 class="text-3xl font-bold">Create functionality</h1>
</div>

<form
  class="flex flex-col gap-2 max-w-lg"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" required></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select formControlName="priority" required>
      <mat-option value="LOW">Low</mat-option>
      <mat-option value="MEDIUM">Medium</mat-option>
      <mat-option value="HIGH">High</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    [disabled]="isSubmitting"
    mat-raised-button
    color="primary"
    type="submit"
  >
    Submit
  </button>
</form>
